# Files
*.sw*
*.png

# This project untracked files
/net
/data
/imgs

# Previous project garbage
dev/README.md
dev/TopAccuracy.lua
dev/camFind.lua
dev/convert-conv-linear-to-spatial.lua
dev/convertGPUmodelCPU.lua
dev/demo.lua
dev/init-loggers.lua
dev/models.lua
dev/run-gpu.lua
dev/train-and-test-gpu.lua
dev/usefulFunctions.lua
